/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.header{
    display: flex;
    
    justify-content: center;
    align-items: center;
    /* padding:10px; */
    /* border:solid; */
    
    font-family: 'Roboto';
    color:white;
    background-color: #00AEAF;
    height:100px;
}

.title{
    font-family:"Cinzel", serif;
}


