@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



@media screen and (min-width: 1059px) {
    html {
      font-size: 1.3em;
    }

    .container{
        height:150vh;
    }
}

@media screen and (max-width: 570px) {
    html{
        font-size:0.8em;
    }

    .container{
        height:98vh;    
    }
}



body{
    font-family: "Cinzel", serif;
    
}

.container{
    padding-left:15px;
    background-color: #F4E0D0;
    display: flex;
    flex-direction: column;
    align-items: center;

}


h2{
    text-align: center;
}



