@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Cinzel", serif;
}

.container{
    padding-left:15px;
    height:80vh;
    background-color: #F4E0D0;

}


