@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.navigation-bar{
    background-color: #10031d;
    color:aliceblue;
    height:60px;
    display: flex;
    align-items: center;
    
}


ul{
    gap: 20px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size:24px;
}